*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* ---- navbar section ---- */
.navbar-brand{
    font-size: 1.6em;
    line-height: 1em;
    color: #FFC000;
    font-weight: 100;
}
.nav-link{
   font-size: 16px;
   font-weight: 100;
   color: #000000;
   text-transform: uppercase; 
}
.nav-link:hover{
    color:#FFC000;
}
.myClassSearchText{
    height: 30px;
    width: 70%;
    border: 1px solid #FFC000;
    border-radius: 15px;
    margin-right: -25px;
    outline: none;
}
.myClassSearchBtn{
    font-size: 12px;
    height: 30px;
    width: 40%;
    color: #FFC000;
    background-color: #000000;
    border-radius: 15px;
    outline: none;
    border-style: none;
}
.myClassSearchBtn:hover{
    color: #fff;
}

/*  +++ main section: background image / main title +++ */
.myClassMainSection{
    background: url(img/mainImg_after_cut.jpg) no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 10% 10%;
}
.myClassMainSection p{
    color: #FFC000;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-shadow: #000000 2px 2px;
}

/* +++ "Historia" section +++ */
.card-text{
    font-weight: 100;
}
.card-img-top, .card-body{
    border: 1px solid #FFC000;
}
.card-body{
    height: 10em;
}



            /* ======== media queries ======== */

/* media queries to "Historia" section */
@media(max-width: 1200px){
    .card-body{
        height: 13rem;
    }
}
@media(max-width: 960px){
    .card-body{
        height: 8rem;
    }
}
@media(max-width: 760px){ 
    .card-body{
            height: 12rem;
        }
    }
@media(max-width: 576px){ 
.card-body{
        height: 8rem;
    }
}

/* media queries to "Historia" section */