*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---- navbar section ---- */
.navbar-brand{
    font-size: 2em;
    line-height: 1em;
    color: #FFC000;
    font-weight: 100;
}
/* .navbar-brand:hover{ 
}*/

.nav-link{
   font-size: 16px;
   font-weight: 100;
   color: #000000;
   text-transform: uppercase; 
   
}
.nav-link:hover{
    color:#FFC000;
}

.myClassSearchText{
    height: 30px;
    width: 70%;
    border: 1px solid #FFC000;
    border-radius: 15px;
    margin-right: -25px;
    outline: none;
}
.myClassSearchBtn{
    font-size: 12px;
    height: 30px;
    width: 40%;
    color: #FFC000;
    background-color: #000000;
    border-radius: 15px;
    outline: none;
}
.myClassSearchBtn:hover{
    color: #fff;
}

/*  --- main section: background image / main title --- */
.myClassSection{
    background: url(./img/filmImgt.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 10% 10%;
}