body{
    font-family: 'Golos Text', sans-serif;
    font-family: 'Mulish', sans-serif;  
}

/*  style for all hiperlink */
a{
    text-decoration: none;
    color: #ffffff;
}

/* ---- background image / navbar / menu ---- */
.myStyleKontaktSign:hover{ 
    color: #FFC000 !important;
    /* ff0037 */
    /* d30f0f */
}
 .bg-image{ 
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.myStyleMenuDivs{
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #FFC000;
    border-width: 1px;
    transform: rotate(0);
}
    .myStyleMenuDivs:hover a{
        color: #FFC000;
    }


/* ---- "O projekcie" section ---- */
.oProjkecieText{
        font-size: 45px;
        color: #000000; 
        border-style: solid;
        border-width: 2px; 
        border-color: #FFC000;
        border-radius: 10px;
    }
    .myOwnClassProjectContentLeft{
        background-color: #FFC000;
        text-align: justify;
        font-size: 25px;
        line-height: 1.5;
        border-style: solid;
        border-width: 2.5px; 
        border-radius: 10px;
    }
    .myOwnClassProjectContentRight{
        background-color: #000000;
        color: #FFC000;
        text-align: justify;
        font-size: 25px;
        line-height: 1.5;
        border-style: solid;
        border-width: 2.5px; 
        border-radius: 10px;
        border-color: #FFC000;
    }
   
/*  ---- "Historia" section ---- */
    .historiaText{
        font-size: 45px;
        color: #FFC000;
        border-style: solid;
        border-width: 2px; 
        border-color: #000000;
        border-radius: 10px;
    }
    .myStyleHistoriaSection{
        width: 350px;
        height: 350px;
        color: #FFC000;
        text-shadow: #FFC000 2px 1px 3px;
        background:rgba(0, 0, 0, 0.7)
        url("img/kino_objazd.jpg");
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center; 
        transition: 0.9s;
    }
    .myStyleHistoriaSection:hover{
        background: url("img/kino_objazd.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .myStyleHistoriaSection2:hover{
        background: url("img/kino_objazd.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

/*  ---- postacie-sylwetki section ---- */
    .postacieSylwetkiTekst{
        font-size: 45px;
        color: #000000;
        border-style: solid;
        border-width: 2px; 
        border-color: #FFC000;
        border-radius: 10px;
    }
     .myStyleCardPostacieSylwetki{ 
        border-color: #D21312;
        padding-left: 0 !important;
    }
    .zobaczWiecejClass{
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        font-weight: 100;
        color: #000000;
        transition: 0.3s;
    }
    .zobaczWiecejClass:hover{
        color:#FFC000;
    }

/*  ----- Sign in form section ---- */
.signInSection, .myOwnClassSignForm{
    background-color: #000000;
}
    .zapiszBtn{
        background-color: #FFC000;
        color: white;
        width: 100%;
    }

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; 
    /* changed from bootstrap.css file - line from 4203 to 4205 (only rgba% value) */
    }
  .navbar-light .navbar-toggler {
    color: rgba(255, 252, 252) !important;
    border-color: rgba(255, 252, 252) !important; 
    /* changed from bootstrap.css file - line from 4199 to 4202 */
} 

  